@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: Verdana;
}

/* NAVBAR STYLE */
.logo {
    width: 130px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    padding-right: 50px;
}

.nav-link {
    font-size: 16px;
}

/* FIRST CAROUSEL STYLE */
.d-block {
    height: 100vh;
}

.carousel-caption {
    position: relative;
    top: 400px;
}

.text-container {
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0, 0.4);
}

.carousel-h-link {
    text-decoration: none;
    color: white;
}

.carousel-h-link:hover {
    color: white;
}

h2 {
    font-weight: 400 !important;
}

.carousel-p {
    font-size: 18px;
}

/* WHO SECTION  STYLE */
.who-section {
    background-color: #008B95;
    height: 500px;
}

.section-title-light {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 300;
    color: white;
}

.section-title-dark {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 300;
    color: #5E666B;
}

.who-carousel {
    height: 40vh;
}

.p-slider {
    width: 50%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: lighter;
    text-align: justify;
    color: white;
}

.desc-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
}

.who-pic {
    width: 300px;
    padding-right: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.who-desc {
    position: relative;
    top: 30px;
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

/* WHAT SECTION STYLE */
.what-section {
    background-color: #E9EDF0;
}

.card-row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.card {
    width: 400px;
    border: none !important;
    border-radius: 8px !important;
}

.card-img-top {
    height: 200px;
}

.card-title {
    font-size: 18px;
    color: #5E666B;
}

.card-text {
    font-size: 16px;
    font-weight: lighter;
    color: #5E666B;
}

/* WHIT SECTION */
.clients-p {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 18px;
    font-weight: lighter;
    color: #5E666B;
}

.clients-container {
    padding-bottom: 50px;
}

.client-box {
    text-align: center;
    font-size: 18px;
    color: #5E666B;
}

.p-3 {
    border-radius: 8px !important;
}

.bg-light:hover {
    background-color: #E9EDF0 !important;
}

/* WHERE SECTION STYLE */
.where-section {
    background-color: #00549F;
}

.event-img-rowwrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.event-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.event-pic {
    width: 300px;
    height: 300px;
}

.event-title {
    text-align: center;
    font-weight: 400;
    color: white;
}

.event-p{
    padding-left: 30px;
    font-size: 16px;
    font-weight: lighter;
    text-align: justify;
    color: white;
}

/* WE SECTION STYLE */
.we-section {
    background-color: #008B95;
}

.we-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contacts-desc-wrapper {
    display: flex;
    flex-direction: row;
}

.contact-desc {
    padding: 30px;
    box-sizing: border-box;
    color: white;
}

.contact-btn {
    position: relative;
    left: -15px;
    font-size: 20px !important;
    font-weight: 400 !important;
    color: white !important;
    box-shadow: none !important;
}

.contact-p {
    height: 80px;
    font-weight: lighter;
}

.map-pic {
    width: 300px;
    border-radius: 8px;
}

/* FORM STYLE */
.login-block .auth-box {
    margin: 20px auto 0;
    max-width: 450px !important
}

.contact-card {
    border-radius: 8px;
    border: none;
    background-color: #fff
}

.contact-card .contact-card-block {
    padding: 1.25rem;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 1.25em;
}

.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

input:focus {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #008B95 !important;
}

textarea {
    resize: none !important;
}

textarea:focus {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #008B95 !important;
}

.heading {
    font-size: 18px;
    font-weight: 400;
    color: #5E666B;
}

.message {
    border: none;
    border-bottom: 1px solid #ccc;
    resize: none;
}

.btn-info {
    width: 50% !important;
    margin: auto !important;
    background-color: #008B95 !important;
    border: none !important;
    color: white !important;
}

/* FOOTER STYLE */
.footer-basic {
    padding: 40px 0;
    background-color: #212529;
    color: white;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .footer-basic .social > a {
    width: 50px;
    height: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
  }
  
  .footer-basic .social > a:hover {
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: white;
    margin-bottom: 0;
  }

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {

    .d-block {
        height: 50vh;
    }

    .section-title-light {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .p-slider {
        position: relative;
        top: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 14px;
    }

    .desc-container {
        display: flex;
        flex-direction: column;
    }

    .who-pic {
        width: 200px;
        padding-bottom: 10px;
    }

    .who-desc {
        position: relative;
        top: 5px;
        font-size: 14px;
    }

    .card-row-wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }

    .card {
        width: 200px !important;
        height: 300px !important;
    }

    .card-img-top {
        height: 150px !important;
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 14px;
    }

    .event-container {
        display: flex;
        flex-direction: column;
    }

    .event-p {
        font-size: 14px;
    }

    .event-pic {
        width: 200px;
        height: 200px;
    }

    .event-desc {
        padding-top: 20px;
    }

    .contacts-desc-wrapper {
        display: flex;
        flex-direction: column;
    }

    .contact-p {
        font-size: 14px;
        height: fit-content;
    }

    .map-pic {
        width: 200px;
    }

    .contact-card {
        width: 300px;
    }

    .clients-p {
        font-size: 14px;
    }

    .clients-container {
        padding-left: 50px !important;
        padding-right: 50px !important;
        padding-bottom: 50px !important;
        box-sizing: border-box !important;
    }

    .client-box {
        font-size: 16px;
    }
}

@media screen and (max-width: 850px) {
    
    .d-block {
        height: 50vh;
    }

    .section-title-light {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .p-slider {
        position: relative;
        top: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 14px;
    }

    .desc-container {
        display: flex;
        flex-direction: column;
    }

    .who-pic {
        width: 200px;
        padding-bottom: 10px;
    }

    .who-desc {
        position: relative;
        top: 5px;
        font-size: 14px;
    }

    .card-row-wrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }

    .card {
        width: 200px !important;
    }

    .card-img-top {
        height: 150px !important;
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 14px;
    }

    .event-container {
        display: flex;
        flex-direction: column;
    }

    .event-pic {
        width: 200px;
        height: 200px;
    }

    .event-desc {
        padding-top: 20px;
    }

    .event-p {
        font-size: 14px;
    }

    .contacts-desc-wrapper {
        display: flex;
        flex-direction: column;
    }

    .contact-p {
        font-size: 14px;
        height: fit-content;
    }

    .map-pic {
        width: 200px;
    }

    .clients-p {
        font-size: 14px;
    }

    .clients-container {
        padding-left: 50px !important;
        padding-right: 50px !important;
        padding-bottom: 50px !important;
        box-sizing: border-box !important;
    }

    .client-box {
        font-size: 16px;
    }
}